.container{
    display: flex;
    border: 3px solid black;
    height: 300px;
    flex-direction: row;
    flex-wrap: wrap;
    
    align-items: center;
    align-content: center;
    gap: 30px;
    

}
.item{
    height: 200px;
    width: 100px;
    border: 2px solid blue;
    
    }

