.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: aqua;
    border: 1px solid red;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
     grid-template-columns: repeat(4,1fr);
     grid-template-rows: repeat(3,1fr);
     /* grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
      */
    column-gap: 5px;
    justify-items: center;
    align-items: center;
    /* place-items: center; */    

    


}
.item{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    border: 1px solid black;
    text-align: center;
    align-content: center;
   
}

/* .item1{
    grid-area: header;

}
.item2{
    grid-area: main;

}
.item3{
    grid-area: sidebar;
}

.item4{
    grid-area: footer;
} */