.container{
    border: 2px solid black;
}


.box1{
    background-color: darkkhaki;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 50px;
    display: inline-block;
}
.box2{
    background-color:coral;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 50px;
     display: inline-block;
}
.box3{
    background-color: cornflowerblue;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 50px;
     display: inline-block;
}