*{
    margin: 0;
    padding: 0;
    

}



p{
    color: #FF0000;
    background-color:hotpink;
    
    
}

.rs{
    color: blue;
    background-color: bisque;
    text-align: center;
    font-size: 20px;
    padding: 2px;
}


div{
    height: 300px;
    width: 300px;
    background-color:cyan;
    border: 4px double black;
    padding: 20px;
    margin: 10px;
    margin-left: 50px;
    


}

 

body{
    background-color:rebeccapurple;
}


#ok{
    color:green;
}